# Add kubernetes DNS
resolvers kube-dns
        nameserver kube-dns 10.96.0.10:53

# Handler for ACME protocol
listen nginx-ingress-http
        bind :80
        mode tcp
        server acme cm-acme-http-solver-gjnzh.default.svc.cluster.local:8089 check resolvers kube-dns init-addr none

# HTTPS NginX Ingress service
listen nginx-ingress-https
        bind :443
        mode tcp
        server nginx-ingress ingress-nginx.ingress-nginx.svc.cluster.local:443 check resolvers kube-dns init-addr none